- provide(:title, "Teach Arena")

%header.hero--section
  .container.hero--content
    %h1 Teach, learn and improve literally anything
    = link_to 'Browse Teachpond', browse_path, class: 'btn btn-lg btn-primary'
