// -----------------------------------------------------------------------------
// This file contains homepage styles.
// -----------------------------------------------------------------------------
.homepage {
  display: table;
  height: 100%;
  width: 100%;
  background: $dark-background;
  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &:before {
    z-index: 3;
    background: rgba(45, 55, 61, 0.7);
  }

  &:after {
    background: image-url('hero-bg.jpg');
    background-size: cover;
    background-position: 50% 50%;
    z-index: 2;
  }

  .navbar-inverse {
    background: transparent;
    border-color: transparent;
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: transparent;
  }
  .navbar-default .navbar-nav > li > a {
    color: white;
  }
  .hero--section {
    position: relative;
    display: table;
    height: 80%;
    min-height: 45rem;
    width: 100%;
    padding: 0;
  }
  .hero--content {
    z-index: 10;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    a.btn {
      background: #fc4c78;
      border-color: #fc4c78;
    }
    h1 {
      color: white;
    }
  }

  .footer--section {
    position: absolute;
    height: 10rem;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 10;
  }

  h5 {
    color: white;
  }
  .navbar-nav {
    margin-top: 15px;
  }
  .navbar-static-top {
    background: transparent !important;
    border: none !important;
  }

  .btn.pull-right, .dropdown-toggle {
    background: transparent;
  }
  .dropdown-toggle {
    .btn {
      background: transparent;
    }
  }
  .top-search-div {
    .form-control {
      color: white;
      &focus {
        box-shadow: none;
      }
    }
  }
}

#not-sign-in {
  .navbar-nav {
    margin-top: 15px;
  }
  .navbar-static-top {
    border: none !important;
  }
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

@media only screen and (max-height: 50rem) {
  .homepage {
    .hero--section {
      height: 70%;
    }
  }
}
.navbar-right {
  padding-right: 30px;
}

.avatar_class img, .post_image_class img {
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(1, 1, 1, 0.6);
}

#profile_avatar {
  display: none;
}

#post_image {
  display: none;
}

.post_image img {
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(1, 1, 1, 0.6);
}
.navbar--logo {
  width: 90px;
  height: 90px;
}
.navbar-static-top {
  position: fixed;
  width: 100%;
  background: $gray-lighter;
}
.top-search-button {
  margin-top: -34px;
  background: transparent;
  border: 1px solid #ccc;
}
ul.navbar-nav li {
  color: black;
}
#request_image {
  display: none;
}
.request_image_class img {
  max-width: 300px;
  max-height: 300px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(1, 1, 1, 0.6);
}
.top-search-div {
  width: 100%;
  .form-control {
    background: transparent;
    border-color: #337ab7;
    border-style: solid;
    border-width: 2px;
    padding-left: 30px;
    box-shadow: none;
    color: black;
    &focus {
      box-shadow: none;
    }
  }
  .btn {
    border: none;
    color: #337ab7;
  }
}