


.info--box {

  padding: 1.5rem 0;

  h5 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.1rem;
    color: rgba($color-light, 0.5);
  }

}


.main--content {
  border-bottom: 1px solid $border-color;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  @media only screen and (min-width: $screen-sm-min) {
    border-bottom: none;
    border-right: 1px solid $border-color;
    margin-bottom: 0;
    padding-right: 30px;
  }

}

.box--sidebar {
  padding: 1.5rem;
}

.sidebar--profile {
  text-align: center;
}

.profile--picture {
  margin-bottom: 1.5rem;
}

.data--author--link {
  font-size: 2rem;
  color: $color-text;

  &:hover, &:active, &:focus {
    color: $color-text-muted;
  }

}

.data--email {
  margin-top: 0.5rem;
  color: $color-text-muted;
}

.data--button {
  width: 100%;
}
