#post_title {
	text-indent: 97px;
	min-height: 80px;
	max-height: 80px;

}
.check-validation {
	color: #fc4c78;
}
.fixed-start-post-title {
	margin-left: 12px;
    margin-top: 33px;
    position: absolute;
    color: #888;
}
.check-validation {
	margin-left: 10px;
}