%footer.footer--section
  .container.footer--content
    %ul.list-inline
      %li= link_to "About us", about_path
      %li= link_to "Contact Us", contact_path
      %li= link_to "How it works", how_it_works_path
    .copyright
      %p ©2016 All rights reserved for TeachArena
