// General headers and heros

.hero--section,
.header--section {
  text-align: center;
  position: relative;
  color: $text-color-light;
  h1 {
    font-family: $secondary-font-stack;
    font-size: 4rem;
  }
}

.hero--content,
.header--content {
  position: relative;
  padding-top: 5rem;
}

.hero--content {
  z-index: 5;
}


// Hero section for other pages

.header--section  {
  background: $dark-background;
}

.half-size {
  max-width: 50%;
}

@media (max-width: $grid-float-breakpoint-max) {
  .half-size {
    max-width: 100%;
  }
}

.home-padding {
  padding-top: 72px;
}