.col-xs-12.no--padding
	%ul.list--reset.filter--list
		- @locations.each do |location|
			%li
				= link_to location.city, location_requests_path(location)
				%span.pull-right (#{location.requests.count + location.posts.count})

		%form{:action => "/locations/", :method => "get", :id => "location_filter"}
			.form-group
				%input{:name => "p", :type =>"text", :class => "form-control"}