

.post--box,
.request--box {
  margin: 1.5rem 0 1.5rem 0;
}


.post--info,
.request--info {
  height: 2.5rem;

  .info--city {
    color: $color-text-muted;
  }

}


.post--title,
.request--title {
  height: 5rem;

  h3 {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 0.5rem 0 1rem 0;
    a {
      color: $text-color;
    }
  }
}

.post--profile,
.request--profile {
  border-top: 1px solid $border-color;
  padding-top: 1rem;

  a {
    line-height: 2.5rem;
  }

  .gravatar {
    margin-right: 0.5rem;
    height: 3rem;
    border-radius: $border-radius-small;
  }

}
