


.header--serach {
  margin: 0 auto;
  max-width: 27rem;
  position: relative;

  .form-control {
    height: 40px;
    box-shadow: none;
    border: transparent;
    padding: 0 4rem 0 1.5rem;
  }

  .btn--search {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    background: transparent;
    border-color: transparent;
    .fa {
      color: $color-text;
      padding-right: 0.5rem;
    }

  }

}
