

.section--title--margin {
  margin: 0 0 2.5rem 0;

  span {
    text-transform: uppercase
  }

}


.footer--section,
.content--section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}


.filter--section {

}

.area--section {

}
