

.sub--nav {
  padding-bottom: 1px;
}

.nav-tabs {
  border-bottom: none;
  > li {
    margin-right: 0.75rem;

    // Actual tabs (as links)
    > a {
      line-height: $line-height-base;
      border: none;
      border-bottom: 2px solid transparent;
      &:hover {
        // border-color: transparent;
        background-color: $dark-background;
        color: $color-light;
        border-bottom: 2px solid $color-light;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {

      border-bottom: 2px solid $color-light;

      &,
      &:hover,
      &:focus {
        color: $nav-tabs-active-link-hover-color;
        background-color: $dark-background;
        border: none;
        cursor: auto;
        border-bottom: 2px solid $color-light;
      }
    }
  }

}
